@font-face {
  font-family: "Gilroy Thin";
  src: url("Gilroy-Thin.eot");
  src: url("Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Thin.woff") format("woff"),
    url("Gilroy-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  background: #191919;
}
header,
a {
  display: flex;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.logo {
  display: flex;
  width: 130px;
  height: 16px;
  padding-top: 66px;
  padding-left: 130px;
}
.navigation {
  display: flex;
  width: 653px;
  height: 20px;
  gap: 77px;
  padding-top: 45px;
  padding-left: 850px;
  color: #ffffffcc;
  font-family: "Gilroy Thin";
  font-size: 16px;
  font-weight: 400;
}
.card-1 {
  margin-left: 130px;
  width: 1595px;
  height: 691px;
  padding-left: 130px;
  padding-top: 153px;
  color: rgba(255, 255, 255, 0.8);
}
.card1-txt-1 {
  position: absolute;
  width: 321px;
  height: 116px;
  left: 130px;
  right: 959px;
  top: 153px;
  bottom: 333px;
  color: #ffffffcc;
  font-family: "Gilroy Thin";
  font-size: 16px;
  font-weight: 400;
}
.img-card-1 {
  position: absolute;
  left: 1160px;
  top: 157px;
}
.h1-card1 {
  position: absolute;
  width: 674px;
  height: 148px;
  left: 240px;
  right: -190px;
  top: 303px;
  bottom: -209px;
  color: #e7e7e7;
  font-family: "Gilroy Thin";
  font-size: 74px;
  font-weight: 600;
}
.card-btn-1 {
  position: absolute;
  width: 400px;
  height: 68px;
  left: 240px;
  top: 597px;
  background: rgb(223, 61, 58);
  color: rgba(255, 255, 255, 0.9);
  font-family: "Gilroy Thin";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 2%;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.card-2 {
  display: flex;
  position: absolute;
  width: 1405px;
  height: 616px;
  left: 0;
  right: 190px;
  top: 925px;
}
.h1-card2 {
  width: 464px;
  height: 130px;
  left: 1160px;
  right: 46px;
  top: 925px;
  color: #e7e7e7;
  font-family: "Gilroy Thin";
  font-size: 54px;
  font-weight: 600;
}
.h2-card2 {
  width: 412px;
  height: 33px;
  left: 1160px;
  right: -642px;
  top: 1105px;
  color: #e7e7e7;
  font-family: "Gilroy Thin";
  font-size: 28px;
  font-weight: 600;
}
.card2-txt-1 {
  width: 510px;
  height: 145px;
  left: 1160px;
  top: 1158px;
  color: #ffffffcc;
  font-family: "Gilroy Thin";
  font-size: 20px;
  font-weight: 400;
}
.img-card-2 {
  position: absolute;
  width: 590px;
  height: 616px;
  left: 0;
  right: 660px;
  top: 925px;
  bottom: -925px;
}
.card-2-txt {
  margin-left: 250px;
}

.list {
  margin: auto;
  position: absolute;
  width: 1121px;
  height: 342px;
  left: 190px;
  right: 269px;
  top: 795px;
}
.list-h1 {
  margin-top: 0px;
  width: 585px;
  height: 65px;
  right: 206px;
  text-align: left;
  color: #e7e7e7;
  font-family: "Gilroy Thin";
  font-size: 54px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 2%;
}
.list-ul {
  display: flex;
  width: 1581px;
  height: 127px;
  left: 190px;
  right: -190px;
  margin-top: 50px;
  bottom: -1711px;
  gap: 355px;
}
.list-row-1 {
  line-height: 20px;
  color: #ffffffcc;
  font-family: "Gilroy Thin";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  line-height: 145%;
  letter-spacing: 0%;
  line-height: 2.3em;
}
.list-row-2,
span {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Gilroy Thin";
  font-size: 20px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
  line-height: 2.3em;
}
li {
  color: #df3d3a;
}

.card-3{
 margin: auto;
position: absolute;
width: 99.9%;
height: 858px;
left: 0;
right: 0;
top: 2550px;
bottom: 6806px;
}
.h1-card3{
  display: flex;
  margin-left: 1125px;
  margin-right: 80px;
  text-align:right;
width: 700px;
height: 65px;
color: rgb(231, 231, 231);
font-family: "Gilroy Thin";
font-size: 54px;
font-weight: 600;
line-height: 120%;
letter-spacing: 2%;
text-align: left;
text-transform: uppercase;
}
.img-card-3{
width: 100%;
height: 524px;
}
.container1-card-3{
position: absolute;
width: 510px;
height: 169px;
left: 190px;
right: 740px;
}
.container2-card-3{
position: absolute;
width: 492px;
height: 169px;
left: 740px;
right: 208px;
}
.card3-h3-1{
position: absolute;
width: 412px;
height: 33px;
left: 120px;
right: -92px;
margin-top: 60px;
color: #E7E7E7;
font-family: "Gilroy Thin";
font-size: 28px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: left;
}
.card-2-txt1{
  position: absolute;
  width: 510px;
  height: 116px;
  left: 120px;
top: 80px;
color:#FFFFFFCC;
font-family: "Gilroy Thin";
font-size: 20px;
font-weight: 400;
line-height: 145%;
letter-spacing: 0%;
text-align: left;
}
.card3-h3-2{
  position: absolute;
  width: 412px;
  height: 33px;
  left: 270px;
  margin-top: 60px;
  color: #E7E7E7;
font-family: "Gilroy Thin";
font-size: 28px;
font-weight: 600;
line-height: 125%;
letter-spacing: 0%;
text-align: left;
}
.card-2-txt2{
  position: absolute;
  width: 492px;
  height: 116px;
  left: 270px;
  right: -740px;
  top: 80px;
  color: #FFFFFFCC;
  font-family: "Gilroy Thin";
  font-size: 20px;
  font-weight: 400;
  line-height: 145%;
  letter-spacing: 0%;
  text-align: left;
}